@import "_mixin__catalog";

#catalog {
  &-header {
    position: initial;
    margin-bottom: calc(15px + (60 - 15) * ((100vw - 320px) / 1640));
    &__btn {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      @media (max-width: 960px) {
        flex-grow: initial;
        margin-left: 20px;
      }
    }
  }
  &__logo {
    padding: 15px 8px 0px 5px;
    margin-right: 15px;
  }
  &__login {
    position: initial;
    width: initial;
    padding-left: calc(25px + (190 - 25) * ((100vw - 320px) / 1640));
    justify-content: space-between;
  }
  &__adress {
    @include for-catalog-adress;
    span {
      @media (max-width: 660px) {
        display: none;
      }
      @media (min-width: 2000px) {
        font-size: 20px;
      }
    }
  }
  &__section {
    padding-left: calc(10px + (472 - 10) * ((100vw - 320px) / 1640));
    padding-right: calc(10px + (472 - 10) * ((100vw - 320px) / 1640));
    margin-bottom: 100px;
  }
}

#hit {
  background: gainsboro;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @media (min-width: 2000px) {
    height: 335px;
  }
  &__title {
    @include for-hit-title;
    color: black;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    @media (min-width: 2000px) {
      margin-bottom: initial;
    }
    span {
      display: inline;
      @media (min-width: 2000px) {
        font-size: 26px;
      }
    }
    span:nth-child(2) {
      text-transform: uppercase;
      font-size: calc(24px + (35 - 24) * ((100vw - 320px) / 1640));
      transform: translate(33px, -20px) rotate(35deg);
      text-shadow: 0 8px 7px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      @media (max-width: 365px) {
        display: none;
      }
      @media (min-width: 2000px) {
        font-size: 70px;
      }
    }
  }
  &__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.hit {
  &__item {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 755px) {
      margin-bottom: 20px;
    }
    @media (min-width: 2000px) {
      height: 250px;
      width: 250px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#product {
  padding-left: calc(10px + (272 - 10) * ((100vw - 320px) / 1640));
  padding-right: calc(10px + (272 - 10) * ((100vw - 320px) / 1640));
  padding-bottom: 100px;
  &__sushi {
    margin-bottom: 90px;
  }
}

.product__main__title {
  @include for-product__main__title;
  margin-bottom: 40px;
}

.sushi {
  &__card {
    box-shadow: 0 -3px 11px rgb(0 0 0 / 29%), 0 6px 10px rgb(0 0 0 / 22%);
    border-radius: 10px;
    padding: 20px 10px 16px 15px;
    margin-bottom: 20px;
    margin-right: 25px;
    cursor: pointer;
    @media (max-width: 601px) {
      margin-right: 18px;
    }
    @media (min-width: 2000px) {
      width: 26%;
      display: flex;
      height: 500px;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 80px;
      margin-right: 97px;
    }
  }
  &:not(:last-child) {
    margin-right: 20px;
    @media (max-width: 721px) {
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__img {
    width: 196px;
    height: 190px;
    margin-bottom: 14px;
    @media (min-width: 2000px) {
      width: 350px;
      height: 350px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.product {
  &__title {
    @include for-product-title;
    margin-bottom: 8px;
    @media (min-width: 2000px) {
      font-size: 45px;
    }
  }
}
.structure {
  @include for-structure;
  margin-bottom: 29px;
  line-height: 1.8em;
}
.price {
  @include for-price;
  @media (min-width: 2000px) {
    font-size: 34px;
  }
}

.drink {
  &__img {
    margin-bottom: 30px;
  }
  &__price {
    text-align: end;
  }
}

.catalog {
  &__footer {
    background-color: #e7dcdc;
    display: flex;
    padding-top: calc(10px + (30 - 10) * ((100vw - 320px) / 1640));
    padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / 1640));
    padding-left: calc(20px + (442 - 20) * ((100vw - 320px) / 1640));
    padding-right: calc(20px + (442 - 20) * ((100vw - 320px) / 1640));
    justify-content: space-between;
    &__item {
      display: block;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__column {
      &__two {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.info--block {
  &__basket {
    position: fixed;
    right: 10%;
    display: none;
    z-index: 100;
    animation-name: hideBlock;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1.5s;
    span {
      width: 56px;
      height: 5px;
      background: midnightblue;
      border-radius: 50px;
    }
    span:nth-child(1) {
      transform-origin: right;
      transform: translate(-33px, 13px) rotate(132deg);
      animation-name: moveLineOne;
      animation-fill-mode: forwards;
      animation-duration: 1s;
    }
    span:nth-child(2) {
      transform: translate(-13px, 12px) rotate(55deg);
      width: 20px;
      transform-origin: right;
      animation-name: moveLineTwo;
      animation-fill-mode: forwards;
      animation-duration: 1s;
    }
  }
  &__wrapper {
    position: relative;
    height: 40px;
  }
}
